@model MVCDemo.Models.SectionViewModel

@{
    ViewBag.Title = "Create Section";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>Section:</td>
            <td>@Html.TextBoxFor(m => m.SectionName)</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>@Html.TextBoxFor(m => m.Description)</td>
        </tr>
        <tr>
            <td>
                @Html.DropDownListFor(p => Model.SelectedSubject, Model.SubjectDropDown, new { @class = "form-control" })
            </td>
        </tr>
    </table>
    <button>Submit</button>
    @Html.ActionLink("Back to Section list", "Index", new { id = Model.SelectedSubject })
}
