<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>

    </header>
    <div>
        @RenderBody()
    </div>
    <footer>Copyright &copy @DateTime.Now.Year</footer>
</body>
</html>
